<div class="row justify-content-center bg-footer">
    <div class="col-5 col-sm-3" style="text-align: center">
        <h5>Links</h5>
        <p class="link-btn" routerLink="/home">Home</p>
        <p class="link-btn" routerLink="/aboutus">About</p>
        <p class="link-btn" routerLink="/menu">Menu</p>
        <p class="link-btn" routerLink="/contact">Contact</p>
    </div>
    <div class="col-6 col-sm-3" style="text-align: center">
        <h5>Our Address</h5>
        <address>
            83, Wan Chai Road
            <br> Wan Chai
            <br> Hong Kong
            <br>
            <i class="fa fa-phone fa-lg"></i> 2836 6466
        </address>
    </div>
    <div class="col col-sm-3" style="text-align: center">
        <h5>Social</h5>
        <a href="http://www.facebook.com/hhsushi"><p class="link-btn" >facebook</p></a>
        <a href="https://www.openrice.com/zh/hongkong/r-%E5%AE%B6%E8%B3%80%E5%B1%8B%E5%88%BA%E8%BA%AB%E5%AF%BF%E5%8F%B8%E5%B0%88%E9%96%80%E5%BA%97-%E7%81%A3%E4%BB%94-%E6%97%A5%E6%9C%AC%E8%8F%9C-%E5%A3%BD%E5%8F%B8-%E5%88%BA%E8%BA%AB-r488893"><p class="link-btn">openrice</p></a>
    </div>
    <div class="col-12 row justify-content-center">
        <div class="col-auto">
            <p>© Copyright 2018 Harvest House Sushi</p>
        </div>
    </div>
</div>