<div class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
        <h2 class="title">About Us</h2>
    </div>
    <div class="parallax__layer parallax__layer--back">
    </div>
</div>

<div class="row">
    <div class=" col-12 col-md-6 bg-image" style="background-image: url('/assets/images/image_11.jpg');">
    </div>
    <div class="col-12 col-md-6 layer_4">
        <div class="layer_4_content">
            <h3 style="padding-bottom:30px; color:black">創立於平成二十二年</h3>
            <hr class="divider">
            <p class="responsive-content" style="color:grey; line-height:50px; margin-top:45px">憑著對美食的熱愛與執著，我們堅持提供即點即製的傳統精湛手握壽司、刺身，嚴選各地新鮮的時令食材以大眾化的價錢讓每位食客享受最新鮮、優質的美食。
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6 layer_4">
        <div class="layer_4_content">
            <h3 style="padding-bottom:30px; color:black">產地直送
                <br>時令海產 - 日本各地旬物</h3>
            <hr class="divider">
            <p class="responsive-content" style="font-size:20px; color:grey; line-height:50px; margin-top:45px">日本人崇尚不時不食，本店一年四季均會由日本各地引入最肥美鮮甜食材，讓顧客可以品嘗到難得一試的時令海產。
            </p>
        </div>
    </div>
    <div class=" col-12 col-md-6 bg-image" style="background-image: url('/assets/images/image_14.jpg');">
    </div>
</div>

<div class="row justify-content-center" style="width:100%; position:absolute; top:45vh">
    <div id="accordion">
        <div class="card">
                    <h5 class="link-btn card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Opening hours
                    </h5>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="row row-content justify-content-between" style="padding: 0px">
                        <div class="col col-sm-4" style="padding: 0px">
                            <p>Mon-Sat</p>
                            <br>
                            <p>Sun</p>
                            <p>Holiday</p>
                        </div>
                        <div class="col col-sm-6" style="padding: 0px">
                            <p style="text-align:right">12:00-15:00
                                <br>18:00-23:00</p>
                            <p style="text-align:right">18:00-23:00</p>
                            <p style="text-align:right">18:00-23:00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
                <h5 class="link-btn card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Payment methods
                </h5>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <ul>
                        <li>Visa</li>
                        <li>Master</li>
                        <li>American Express</li>
                        <li>銀聯</li>
                        <li>Cash</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
                <h5 class="link-btn card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    We provide
                </h5>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <ul>
                        <li>Phone booking</li>
                        <li>Alcohol</li>
                        <li>10% service fee</li>
                        <li>Baby seat</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<p>carousel : restaurant qualities</p>