@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin:0px auto;
	padding: $pad-up-dn $pad-left-right;
}

.nav-item{
    border-bottom: 1px solid black;
}
.nav-item:hover{
    border-bottom-color: white;
}