<div class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
        <h2 class="title">Menu</h2>
    </div>
    <div class="parallax__layer parallax__layer--back">
    </div>
</div>

<div class="layer_2">
    <div class="row justify-content-around">
        <div class=" col-12 col-md-6 pl-0 pr-0" style="overflow:hidden">
            <div class="btn-lunch block-btn" [routerLink]="['/dishes', 'lunch']">
                <h3>Lunch set</h3>
                <!--昼之定食-->
            </div>
        </div>

        <div class=" col-12 col-md-6 pl-0 pr-0" style="overflow:hidden">
            <div class="btn-dinner block-btn" [routerLink]="['/dishes', 'dinner']">
                <!--夕之定食-->
                <h3>Dinner set</h3>

            </div>
        </div>

        <div class=" col-12 col-md-6 pl-0 pr-0" style="overflow:hidden">
            <div class="btn-sushi block-btn" [routerLink]="['/dishes', 'sushi']">
                <h3>Sushi</h3>
                <!--sushi-->

            </div>
        </div>

        <div class=" col-12 col-md-6 pl-0 pr-0" style="overflow:hidden">
            <div class="btn-sashimi block-btn" [routerLink]="['/dishes', 'sashimi']">
                <h3>Sashimi</h3>
                <!--刺身-->

            </div>
        </div>

        <div class=" col-12 col-md-6 pl-0 pr-0" style="overflow:hidden">
            <div class="btn-gunkan block-btn" [routerLink]="['/dishes', 'gunkan']">
                <h3>Gunkan</h3>
                <!--军舰-->

            </div>
        </div>

        <div class=" col-12 col-md-6 pl-0 pr-0" style="overflow:hidden">
            <div class="btn-roll block-btn" [routerLink]="['/dishes', 'roll']">
                <h3>Roll</h3>
                <!--卷-->

            </div>
        </div>

        <div class=" col-12 col-md-6 pl-0 pr-0" style="overflow:hidden">
            <div class="btn-handroll block-btn" [routerLink]="['/dishes', 'handroll']">
                <h3>Hand Roll</h3>
                <!--手卷-->

            </div>
        </div>

        <div class=" col-12 col-md-6 pl-0 pr-0" style="overflow:hidden">
            <div class="btn-rice block-btn" [routerLink]="['/dishes', 'bowl']">
                <h3>Bowl</h3>
                <!--丼-->

            </div>
        </div>

        <div class=" col-12 col-md-6 pl-0 pr-0" style="overflow:hidden">
            <div class="btn-fry block-btn" [routerLink]="['/dishes', 'fried']">
                <h3>Fried</h3>
                <!--炸物-->

            </div>
        </div>

        <div class=" col-12 col-md-6 pl-0 pr-0" style="overflow:hidden">
            <div class="btn-yakimono block-btn" [routerLink]="['/dishes', 'agemono']">
                <h3>Agemono</h3>
                <!--烧物-->

            </div>
        </div>

        <div class=" col-12 col-md-6 pl-0 pr-0" style="overflow:hidden">
            <div class="btn-salad block-btn" [routerLink]="['/dishes', 'salad']">
                <h3>Salad &amp; Delicacies</h3>
                <!--沙律珍味-->

            </div>
        </div>

        <div class=" col-12 col-md-6 pl-0 pr-0" style="overflow:hidden">
            <div class="btn-drink block-btn" [routerLink]="['/dishes', 'drink']">
                <h3>Drink &amp; Dessert</h3>
                <!--酒水，甜品-->

            </div>
        </div>
    </div>

</div>